<div class="container-fluid">
    <h3>WhiteBoard</h3>

    <div class="row">
        <div class="col-md-12">

            <!-- side bar // list of entered notes -->
            <aside>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-lg-10">
                            <h4>All Notes </h4>
                        </div>
                        <div class="col-lg-2 pull-right">
                            <button class="btn btn-primary" ng-click="vm.addNote()">
                                Add <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-group">
                                <div ng-repeat="note in vm.notes">
                                    <div class="list-group-item clearfix">
                                        <span class="glyphicon glyphicon-file"></span> 
                                        {{ note.text }}
                                        <button class="btn btn-default btn-xs pull-right" ng-click="vm.editNote(note)">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div> <!-- end row--> 
                    

                </div>
            </aside>

            <!-- main -->
            <main>
                <div class="col-md-7 col-md-offset-1">
                    <simple-mde-wrapper note="vm.selectedNote"></simple-mde-wrapper>
                </div>
            </main>
        </div>
    </div>
</div>