<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">Cheat Sheet</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">         
                <li ng-class="{ active: isActive('/list')}"><a href="#/list">List</a></li>
                <li ng-class="{ active: isActive('/board')}"><a href="#/board">Whiteboard</a></li>
                <li ng-class="{ active: isActive('/about')}"><a href="#/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>