<div class="container">
    <h3>To-Do List</h3>

    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-primary" ng-click="vm.toggleAdd()">
                <span class="glyphicon glyphicon-plus"></span> Add item
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <add-list on-add-item="vm.addListItem($event)" ng-show="vm.showAdd"></add-list>
        </div>
    </div>    
    
    <br>

    <div class="row">       
        <div class="col-md-12">
            <table class="table table-striped">
                <th>Resource</th>
                <th>Link</th>
                <th>Type</th>
                <tr ng-repeat="resource in vm.listData">
                    <td>{{resource.name}}</td>
                    <td><a href="{{resource.link}}" target="_blank"/>{{resource.link}}</td>
                    <td>{{resource.type}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>